<div class="ui container">
  <h1 class="ui center aligned header">Works</h1>

  <div class="ui equal width stackable grid">
    <div class="column">
      <p>The Grieg digital work catalogue in English language includes all the complete opus-numbers of Grieg. Unfinished works (EG-numbers) will be added continuosly. Published in English language, the work catalogue draws on the German catalogue, published 2006 by Peters Verlag as part of the Grieg Gesamtausgabe. The catalogue posts comprise information about the work’s genesis, its sources from sketches to editions, and its reception, including information about first performances, references to related literature etc.</p>
      <p>To grant the validity of the given information, an editorial team affiliated with the Grieg Research Center will continuosly review the posts and add new information acording to the most recent state of knowledge.</p>
    </div>
  </div>

  <div class="ui menu">
    <div class="ui borderless item">
      Works ({{workSource.total$ | async}})
    </div>
    <div class="ui category search right item">
      <div class="ui transparent icon input" (submit)="workSource.search(term.value)">
        <input #term (keyup)="workSource.search(term.value)" [value]="workSource.terms" class="form-control" placeholder="Search" autofocus>
        <i type="submit" class="search icon"></i>
      </div>
    </div>
  </div>

  <div class="ui middle aligned selection list">
    <div class="item" *ngFor="let work of workSource.items$ | async">
      <div class="content">
        <a class="header" href="works/{{work.id}}">{{work.label || "No title"}}</a>
    </div>
  </div>
  <div class="ui hidden divider"></div>
  <app-full-width-paginator [source]="workSource"></app-full-width-paginator>
</div>
