.content {
  min-height: 150px;
  padding-bottom: 50px;
}

.meta {
  border-top: 1px solid;
  border-color: #e5e5e5;
  color: #e5e5e5;
  margin-top: 10px;
  padding-top: 5px;
  font-size: 90%;
  position: absolute;
  bottom: 5px;
  height: 45px;
}
