<div class="content">
  <h2>
    {{getLabel(concept)}}
  </h2>
  <p class="description">
    {{concept.definition || 'No description available'}}
  </p>
</div>
<div class="meta" *ngIf="concept.reference || concept.articles">
  <div class="ui list">
    <div class="item">{{concept.references.length}} references</div>
    <div class="item">{{concept.articles.length}} articles</div>
  </div>
</div>

