<ng-container *ngIf="article">
  <h2 class="pointer" [ngClass]="{grey: article?.status === 'public-draft'}" [routerLink]="['/articles/', articleId]">
    {{article?.title}}
    <span *ngIf="article?.status === 'public-draft'">[draft]</span>
  </h2>
  <p>{{contributors}}</p>
  <p><em>{{article?.body | words:50:" ..."}}</em></p>
</ng-container>
