<header *ngIf="router.url === '/home'" class="ui fluid container">
  <div class="ui basic segment">
    <a class="ui red right ribbon label">Beta</a>
    <h1 class="ui center aligned huge header">
      <div class="content">
        <a [routerLink]="['/']" i18n="Title|Main name for site">{{title}}</a>
      </div>
    </h1>
  </div>
</header>
