.image {
  width: 12rem !important;
}

.segment {
  color: white;
  background-color: #222 !important;
  display: inline-block;
  position: absolute;
}

.header * a {
  color: white !important;
}

.container {
  background-image: url('../../../assets/ubb-bs-ok-06307_md.jpg');
  /*background-image: linear-gradient(to top, rgba(255, 255, 255, 0.75), transparent 25%, transparent),  url('../../../assets/ubb-bs-ok-06307_md.jpg');*/
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 50% 90%;
}

/* Mobile */

@media only screen and (max-width: 767px) {
  .container {
    height: 300px;
    margin: 0 !important;
  }
  .segment {
    right: 30px;
    top: 10px;
  }
  .header * a {
    font-size: 1.5rem !important;
  }
}


/* Tablet / iPad Portrait */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    height: 400px;
  }
  .segment {
    left: 30px;
    top: 250px;
  }
}


/* Computer / Desktop / iPad Landscape */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    height: 500px;
  }
  .segment {
    left: 40px;
    top: 350px;
  }
}


/* Large Monitor */

@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .container {
    height: 500px;
  }
  .segment {
    left: 40px;
    top: 350px;
  }
}


/* Widescreen Monitor */

@media only screen and (min-width: 1920px) {
  .container {
    height: 650px;
  }
  .segment {
    left: 40px;
    top: 380px;
  }
}
