<div class="ui basic segment container" *ngIf="error">
  <app-error-component [title]="error.statusCode" [description]="error.message"></app-error-component>
</div>
<div class="ui container" *ngIf="!error">
  <h1 class="ui header">Subjects</h1>

    <div class="ui equal width stackable grid">
      <div class="column">
        <p>This section presents an overview of current reseach topics in ongoing Grieg research. It contents a variety of scholarly articles and commentaries. It wil be expanded further with documentations on different media, such as videos, historic film documents, audio-material from broadcasting archives etc.</p>
      </div>
    </div>
  
  <div class="ui stretched stackable three column grid">
    <div class="ui column" *ngFor="let concept of concepts; let i = index">
      <div class="ui pointer inverted segment"
        [routerLink]="['/subjects', concept.id]"
        [ngClass]="{teal: i % 5 === 0, green: i % 5 === 1, olive: i % 5 === 2, yellow: i % 5 === 3, orange: i % 5 === 4}">
        <app-subject-card class="column"[concept]="concept"></app-subject-card>
      </div>
    </div>
  </div>

  <div class="ui hidden divider"></div>
  <button class="ui labeled icon button" [routerLink]="['/subjects','create']" *ngIf="personCanEdit">
    <i class="add icon" ></i>
    Create new subject
  </button>

</div>
