.card.concept-card:nth-child(4n+1) {
  background-color: green
}

.card.concept-card:nth-child(4n+2) {
  background-color: blue
}

.card.concept-card:nth-child(4n+3) {
  background-color: red
}

.card.concept-card:nth-child(4n+0) {
  background-color: yellow
}
