<p *ngIf="!isContributor">You are not registered as a contributor for {{projectId}}, please contact one of the editors to be added.</p>

<ng-container *ngIf="isContributor">
  <h2 class="ui header">Articles</h2>
  <div class="ui horizontal list">
    <div class="item">
      <i class="icon eye red"></i>
      Draft
    </div>
    <div class="item">
      <i class="icon eye green"></i>
      Public draft
    </div>
    <div class="item">
      <i class="icon eye blue"></i>
      Published
    </div>
  </div>
  <a class="ui right floated primary button" [routerLink]="['/articles/create']" *ngIf="isContributor">
    <i class="icon edit"></i>New article
  </a>

  <ng-template let-articles let-title="title" #articleList>
    <h3 class="ui header">{{title}}</h3>
    <div class="ui segments" *ngIf="articles && articles.length > 0">
      <div class="ui secondary segment">
        <div class="ui grid">
          <div class="one wide column middle aligned">Status</div>
          <div class="five wide column middle aligned">Title</div>
          <div class="four wide column middle aligned">Contributors</div>
          <div class="two wide column middle aligned">Created</div>
          <div class="two wide column middle aligned">Last updated</div>
          <div class="two wide column">Actions</div>
        </div>
      </div>
      <div class="ui segment" *ngFor="let article of articles; let i = index">
        <div class="ui grid">
          <div class="one wide column middle aligned"><i class="ui left floated large icon eye" [ngClass]="{blue: article.status === 'published', green: article.status === 'public-draft', red: article.status === 'draft'}"></i></div>
          <div class="five wide column middle aligned pointer">
            <strong><a [routerLink]="['/articles', article.id]">{{article.title}}</a></strong>
          </div>
          <div class="four wide column middle aligned">
            <span *ngFor="let contributor of article.contributors; let $isLast=last">
              {{contributor.name}}{{$isLast ? '' : '; '}}
            </span>
          </div>
          <div class="two wide column middle aligned">
            {{article.created | date }}
          </div>
          <div class="two wide column middle aligned">
            {{article.lastUpdated | date}}
          </div>
          <div class="two wide column">
            <button class="ui icon positive small button" [routerLink]="['/articles', article.id, 'edit']">
              <i class="icon edit"></i>
            </button>
            <button class="ui icon negative small button" (click)="deleteArticle(article)" *ngIf="isEditor">
              <i class="icon trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="ui info message" *ngIf="!articles || articles.length === 0">
      This list is empty
    </div>
  </ng-template>

  <ng-template let-edits let-title="title" let-canEdit="canEdit" #editList>
    <h3 class="ui header">{{title}}</h3>
    <div class="ui segments" *ngIf="edits && edits.length > 0">
      <div class="ui secondary segment">
        <div class="ui grid">
          <div class="one wide column middle aligned">Status</div>
          <div class="five wide column middle aligned">Article title</div>
          <div class="four wide column middle aligned">Edited by</div>
          <div class="four wide column middle aligned">Days since last touched</div>
          <div class="two wide column">Actions</div>
        </div>
      </div>
      <div class="ui segment" *ngFor="let edit of edits">
        <div class="ui grid">
          <div class="one wide column middle aligned"><i class="ui left floated large icon eye" [ngClass]="{blue: edit.status === 'published', green: edit.status === 'public-draft', red: edit.status === 'draft'}"></i></div>
          <div class="five wide column middle aligned pointer">
            <strong><a [routerLink]="['/articles', edit.articleId]">{{edit.title}}</a></strong>
          </div>
          <div class="four wide column middle aligned">
            {{edit.author?.name}}
          </div>
          <div class="four wide column middle aligned" [ngClass]="{'outdated': daysSince(edit.lastUpdated) > 6}">
            {{daysSince(edit.lastUpdated)}}
          </div>
          <div class="two wide column">
            <button class="ui icon positive small button" *ngIf="canEdit" [routerLink]="['/articles', edit.articleId, 'edit']">
              <i class="icon edit"></i>
            </button>
            <button class="ui icon negative small button" (click)="deleteEdit(edit)">
              <i class="icon trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="ui info message" *ngIf="!edits || edits.length === 0">
      This list is empty
    </div>
  </ng-template>

  <ng-container *ngTemplateOutlet="articleList; context: {$implicit: contributions, title: 'Your contributions'}"></ng-container>


  <ng-container *ngIf="isEditor">
    <ng-container *ngTemplateOutlet="articleList; context: {$implicit: drafts, title: 'All unpublished drafts'}"></ng-container>
    <ng-container *ngTemplateOutlet="articleList; context: {$implicit: publicDrafts, title: 'All published drafts'}"></ng-container>
  </ng-container>

  <h2 class="ui header">Edits in progress</h2>
  <p>This list helps you clean up orphan edits that might be blocking others from editing the same articles.</p>
  <ng-container *ngTemplateOutlet="editList; context: {$implicit: myOpenEdits, title: 'Your unfinished edits', canEdit: true}"></ng-container>
  <ng-container *ngIf="isEditor">
    <ng-container *ngTemplateOutlet="editList; context: {$implicit: allOpenEdits, title: 'All contributors\' unfinished edits', canEdit: false}"></ng-container>
  </ng-container>
</ng-container> <!-- isContributor -->
