<div class="ui container">
  <div *ngIf="work && !error" class="ui basic segment">
    <h2 class="ui header">{{work.label}}</h2>
    <!--<p>
      <ng-container *ngFor="let person of work.respStmt">
        <span *ngIf="person.role === 'composer'">{{person.name}} </span>
      </ng-container>
      <span *ngIf="work.creationDate"> ({{work.creationDate}})</span>
    </p>
    <div class="ui label" *ngFor="let label of work.altLabel">
      {{label.label}}
      <div class="detail">({{label.lang}})</div>
    </div>
    <div [innerHtml]="work.document.metadata"></div>
    <div class="ui top attached tabular menu" >
      <a class="item" *ngFor="let tab of tabs" [ngClass]="{active: selected === tab.label}" (click)="selected = tab.label">{{tab.label}}</a>
    </div>
    <ng-container *ngFor="let tab of tabs">
      <div class="ui bottom attached segment" [innerHtml]="tab.content" *ngIf="selected === tab.label"></div>
    </ng-container>-->
    <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(work.displayLink)' frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
    <!--<div class="ui segment">Read source document: <a href="{{work.displayLink}}">html</a>, <a href="{{work.uri}}">xml</a>.</div>-->
    <div class="ui segment">Read source <a href="{{work.uri}}">xml</a>.</div>
  </div>
  <app-error-component *ngIf="error" [title]="error.statusCode" [description]="error.message"></app-error-component>
</div>
