<div class="ui basic segment container" *ngIf="error">
  <app-error-component [title]="error.statusCode" [description]="error.message"></app-error-component>
</div>
<div class="ui container" *ngIf="concept && !error">
  <ng-template #conceptResult let-concept>
    {{getLabel(concept)}}
  </ng-template>

  <div class="ui form" *ngIf="editingParent">
    <div class="field">
      <sui-search *ngIf="editingParent"
      [optionsLookup]="findConcept"
      placeholder="{{(parent && getLabel(parent)) || 'Search for concept'}}"
      (resultSelected)="selectParent($event)"></sui-search>
      <button class="ui negative button" (click)="cancelMove()">Cancel</button>
      <button class="ui primary button" (click)="makeConceptRootNode()" *ngIf="parent !== null">Make this a root concept</button>
      <button class="ui positive button" (click)="moveNode()" [ngClass]="{disabled: selectedParent === null}">Move</button>
    </div>
    <div class="field" >
      <p *ngIf="selectedParent">
        Make {{concept.prefLabel.name}} child of <strong>{{selectedParent?.prefLabel.name}}</strong>.
        This affects all children of {{concept.prefLabel.name}} too.
      </p>
    </div>
  </div>
  <div class="ui grey header" *ngIf="!editingParent">
    <span *ngIf="personCanEdit && !parent && !editingParent">
      [Has no parent]
      <i class="icon green edit pointer" *ngIf="personCanEdit" (click)="editParent()"></i>
      <i class="icon right angle"></i>
    </span>
    <span *ngIf="parent">
      <a [routerLink]="['/subjects',parent.id]">{{getLabel(parent)}}</a>
      <i class="icon green edit pointer" *ngIf="personCanEdit" (click)="editParent()"></i>
      <i class="icon right angle"></i>
    </span>
  </div>

  <h1 class="ui header" *ngIf="!editedPrefLabel">
    {{prefLabel?.name}}
    <span *ngIf="personCanEdit">
      <i class="icon green edit pointer" (click)="editPrefLabel()" ></i>
      <i class="icon red trash pointer" (click)="removeConcept()"></i>
    </span>
  </h1>
  <h1 class="ui header" *ngIf="editedPrefLabel">
    <form (ngSubmit)="savePrefLabel()">
      <div class="ui input">
        <input type="text" [(ngModel)]="editedPrefLabel.name" name="prefLabelName" autofocus placeholder="Enter concept name">
      </div>
      <i class="icon grey save" *ngIf="!editedPrefLabel.name"></i>
      <i class="icon save pointer" (click)="savePrefLabel()" *ngIf="editedPrefLabel.name"></i>
    </form>
  </h1>

  <ng-template #altLabelForm>
    <form (ngSubmit)="saveAltLabel()">
      <div class="ui input">
        <input type="text" [(ngModel)]="editedAltLabel.name" name="altLabelName" placeholder="Alternative {{prefLangLabel}} label">
      </div>
      <div class="ui icon button" (click)="saveAltLabel()">
        <i class="ui icon save"></i>
      </div>
    </form>
  </ng-template>

  <ng-container *ngIf="!isNewConcept">
    <div class="ui horizontal list" *ngIf="concept.altLabel || personCanEdit">
      <div class="item" *ngFor="let altLabel of altLabels; let i = index">
        <div class="ui large breadcrumb"> <!-- Hack to get decent spacing -->
          <div class="divider">
            <i class="icon tag"></i>
          </div>
          <ng-container *ngIf="editedAltLabelIndex !== i">
            <div class="active section">
              {{altLabel.name}}
            </div>
          </ng-container>
          <div class="section" *ngIf="personCanEdit && editedAltLabelIndex !== i">
            <i class="green icon edit pointer" (click)="editAltLabel(altLabel, i)"></i>
            <i class="red icon trash pointer" (click)="removeAltLabel(i)"></i>
          </div>
          <div class="section" *ngIf="personCanEdit && editedAltLabel && editedAltLabelIndex === i">
            <ng-container *ngTemplateOutlet="altLabelForm"></ng-container>
          </div>
        </div>
      </div>

      <div class="ui item" *ngIf="personCanEdit && editedAltLabel && editedAltLabelIndex === -1">
        <ng-container *ngTemplateOutlet="altLabelForm"></ng-container>
      </div>

      <div class="icon item pointer" *ngIf="personCanEdit && !isNewConcept" (click)="editAltLabel(null, -1)">
        <i class="icon grey add"></i>Add alternative label
      </div>

    </div>

    <ng-container *ngIf="concept.definition || personCanEdit">
      <h5 class="ui header" *ngIf="personCanEdit">
        Definition
      </h5>
      <p *ngIf="editedDefinition === null">
        {{concept.definition || "[no definition]"}} <i *ngIf="personCanEdit && !isNewConcept" (click)="editDefinition()" class="icon green edit pointer" ></i>
      </p>

      <form class="ui form" *ngIf="editedDefinition !== null" (ngSubmit)="saveDefinition()">
        <div class="ui field">
          <input [(ngModel)]="editedDefinition" type="text" name="definition">
        </div>
        <button class="ui labeled icon button" (click)="saveDefinition()">
          <i class="ui icon save"></i> Save
        </button>
      </form>
    </ng-container>

    <ng-container *ngIf="concept.editedScopeNote || personCanEdit">
      <h5 class="header">
        Scope
      </h5>
      <p *ngIf="editedScopeNote === null">
        {{concept.scopeNote || "[scope not defined]"}} <i *ngIf="personCanEdit && !isNewConcept" (click)="editScopeNote()" class="icon green edit pointer"></i>
      </p>
      <form class="ui form" *ngIf="editedScopeNote !== null" (ngSubmit)="saveScopeNote()">
        <div class="ui field">
          <input [(ngModel)]="editedScopeNote" type="text" name="scopeNote">
        </div>
        <button class="ui submit labeled icon button" (click)="saveScopeNote()">
          <i class="ui icon save"></i> Save
        </button>
      </form>
    </ng-container>

    <div class="container" *ngIf="children.length || personCanEdit">
      <h5 class="header">Under {{getLabel(concept)}}</h5>
      <div class="ui three column stretched stackable grid">
        <div class="ui column" *ngFor="let child of children">
          <div class="ui inverted olive segment">
            <app-subject-card class="card pointer" [concept]="child" [routerLink]="['/subjects',child.id]">
            </app-subject-card>
            <p *ngIf="!children || children.length === 0">
              [This concept has no children]
            </p>
          </div>
        </div>
      </div>
      <div class="ui hidden divider" *ngIf="personCanEdit"></div>
      <div class="ui icon button" [routerLink]="['/subjects', concept.id, 'addChild']" *ngIf="personCanEdit">
        <i class="icon add"></i>Add narrower term
      </div>
    </div>

    <h2 class="ui header">Articles</h2>
    <div class="ui two column stackable stretched grid">
      <div class="ui column" *ngFor="let article of concept.articles">
        <div class="ui teal inverted pointer segment" *ngIf="article.status !== 'draft'" [routerLink]="['/articles', article.id]">
          <app-display-article [articleId]="article.id"></app-display-article>
        </div>
      </div>
    </div>
    <div class="ui list">
      <div class="ui item" *ngIf="!concept.articles || concept.articles.length === 0">
        [No articles associated with this term yet]
      </div>
    </div>

    <h2 class="ui header">Further reading</h2>
    <div class="ui list">
      <div class="item" *ngFor="let reference of concept.references">
        <div class="ui grid">
          <app-display-compact-reference class="fourteen wide column" [reference]="reference"></app-display-compact-reference>
          <div class="two wide column" *ngIf="personCanEdit"><i class="pointer red trash icon" (click)="removeReference(reference)"></i></div>
        </div>
      </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui positive button" *ngIf="personCanEdit && !addingReference" (click)="addingReference = true">
      Search references
    </div>
    <div class="ui primary button" *ngIf="addingReference" (click)="addingReference = false">
      Hide reference search
    </div>

    <ng-container *ngIf="addingReference">
      <div class="ui menu">
        <div class="borderless item">
          <strong>{{ referenceSource.total$ | async }}</strong>&nbsp; <span>references</span>
        </div>
        <div class="ui category search right item">
        <div class="ui transparent icon input" (submit)="referenceSource.search(referenceTerm.value)">
            <input #referenceTerm (keyup)="referenceSource.search(referenceTerm.value)" [value]="referenceSource.terms" placeholder="Search" autofocus>
            <i type="submit" class="search icon"></i>
          </div>
        </div>
      </div>
      <app-full-width-paginator [source]="referenceSource"></app-full-width-paginator>
      <ng-template ngFor let-reference [ngForOf]="referenceSource.items$ | async">
        <div class="ui item segment" [ngClass]="{secondary: conceptHasReference(reference)}">
          <div class="content">
            <div class="ui top right attached green label" *ngIf="!conceptHasReference(reference)">
              <span class="pointer" (click)="addReference(reference)"><i class="plus icon"></i> Link</span>
            </div>
            <div class="ui top right attached red label" *ngIf="conceptHasReference(reference)">
              <span class="pointer" (click)="addReference(reference)"><i class="minus icon"></i> Unlink</span>
            </div>
            <app-display-reference [reference]="reference" [options]="{showAbstract: false}"></app-display-reference>
          </div>
        </div>
      </ng-template>
      <app-full-width-paginator [source]="referenceSource"></app-full-width-paginator>
    </ng-container>
  </ng-container>  <!-- !isNewConcept -->
</div>
