<div class="ui basic center aligned segment text container">

  <p>
    <button class="ui massive positive button" (click)="login()">
      <i class="sign in icon"></i>
      Sign in with Dataporten
    </button>
  </p>

  <p>
    You can sign in via Dataporten (and with Twitter, Facebook and LinkedIn).
  </p>

</div>
