<pagination class="ui menu mobile only"
  [ngClass]="extraClass"
  [total]="source.total$ | async"
  [page]="source.page"
  [pageSize]="source.limit"
  [nBoxes]="2"
  (goTo)="source.goToPage($event)">
</pagination>
<pagination class="ui menu tablet only"
  [ngClass]="extraClass"
  [total]="source.total$ | async"
  [page]="source.page"
  [pageSize]="source.limit"
  [nBoxes]="8"
  (goTo)="source.goToPage($event)">
</pagination>
<pagination class="ui menu mobile hidden tablet hidden"
  [ngClass]="extraClass"
  [total]="source.total$ | async"
  [page]="source.page"
  [pageSize]="source.limit"
  [nBoxes]="12"
  (goTo)="source.goToPage($event)">
</pagination>
