<a class="item" [ngClass]="{disabled: page === 0}" (click)="pageClicked(0)">First</a>
<a class="item" [ngClass]="{disabled: page === 0}"  (click)="pageClicked(prevPage())">«</a>
<a class="item" *ngFor="let p of pagesRange()" (click)="pageClicked(p)" [ngClass]="{active:page === p}">{{p + 1}}</a>
<a class="item" [ngClass]="{disabled: page === lastPage()}" (click)="pageClicked(nextPage())">»</a>
<a class="item" [ngClass]="{disabled: page === lastPage()}" (click)="pageClicked(lastPage())">Last</a>
