<div class="ui container">
    <div class="ui vertical stripe segment">
      <div class="ui text container">
        <h1 class="header">Grieg Research Guide - formidling av fagfellevurdert forskning om Edvard Grieg</h1>

        <p>Prosjektet er forsker-initiert som et resultat av et behov for at samle ressurser om Edvard Grieg på et synlig sted (da ressursene ligger på ulike institusjoner) og gjennom guiden å formidle fagfellevurdert forskning og gjøre forskningen tilgjengelig for musikere, musikkforskere og allmennheten. Prosjektet er et tver-institusjonelt samarbeide mellom Universitetsbiblioteket i Bergen, Senter for Griegforskning og Bergen offentlige bibliotek.</p>

        <p>Prosjektet Grieg Research Guide skal resultere i en nettbasert guide inneholdende en kommentert bibliografi over litteratur om Grieg og en verkfortegnelse over Griegs verk med semantiske relasjoner mellom referanser, personer og verk.</p>

        <p>Grieg Resource Guide blir et fundament for en senere portal, som vil bygges ut trinnvis, inneholdende digitaliserte, primære kilder, revidert Grieg Gesamtausgabe, bibliografi, verkfortegnelse og sekundær litteratur formidlet i en forskningsbasert kontekst. Et viktig mål for Grieg Resource Guide er, at guiden representerer en begynnelse på en forskningshistorie rundt Grieg.</p>
      </div>
    </div>

    <div id="contact" class="ui vertical stripe segment">
      <div class="ui text container">
        <h2>Contact</h2>
        <p><strong>Prosjektleder:</strong></p>

        <p>Kirstine Folmann, Universitetsbibliotekar, Universitetsbiblioteket i Bergen, kirstine.folmann@uib.no</p>

        <p><strong>Prosjektgruppe:</strong></p>
        <ul>
          <li>Tarje Sælen Lavik, spesialbibliotekar, Universitetsbiblioteket i Bergen, tarje.lavik@uib.no</li>
          <li>Arnulf Christian Mattes, førsteamanuensis, Senter for Griegforskning - UiB, arnulf.mattes@uib.no</li>
          <li>Arvid O. Vollsnes, professor II, Senter for Griegforskning - UiB, arvid.vollsnes@imv.uio.no</li>
          <li>Sverre Helge Bolstad, avdelingsleder, Bergen Offentlige Bibliotek, sh@bergenbibliotek.no</li>
          <li>Stanko Drazic, konsulent, Universitetsbiblioteket i Bergen</li>
        </ul>
      </div>
    </div>

    <div id="partners" class="ui vertical stripe segment">
      <div class="ui text container">
        <h2>Partners</h2>
        <div class="ui bulleted list">
          <a href="http://www.uib.no/en/griegresearch" class="item">Centre for Grieg Research</a>
          <a href="http://www.uib.no/en/ub" class="item">Universitetsbibliotek i Bergen</a>
          <a href="http://bergenbibliotek.no/" class="item">Bergen Offentlige Bibliotek</a>
        </div>
      </div>
    </div>

    <div id="license" class="ui vertical stripe segment">
      <div class="ui text container">
        <h2>License</h2>
      </div>
    </div>
  </div>