
<sui-sidebar-container class="ui bottom attached segment">
  <sui-sidebar class="inverted vertical labeled icon" #sidebar>
    <div [routerLink]="['/home']" (click)="sidebar.toggle()" class="header item">
        {{title}}
      </div>
      <a [routerLink]="['/articles']" routerLinkActive="active" (click)="sidebar.toggle()" class="item" i18n="Article|Main type of the app">
        <i class="student icon"></i>
        Articles
      </a>
      <a [routerLink]="['/bibliography']" routerLinkActive="active" (click)="sidebar.toggle()" class="item" i18n>
        <i class="edit icon"></i>
        Bibliography
      </a>
      <a [routerLink]="['/works']" routerLinkActive="active" (click)="sidebar.toggle()" class="item" i18n="Link to works">
        <i class="music icon"></i>
        Works
      </a>
      <a [routerLink]="['/subjects']" routerLinkActive="active" (click)="sidebar.toggle()" class="item" i18n>
        <i class="tags icon"></i>
        Subjects
      </a>
      <a [routerLink]="['/about']" routerLinkActive="active" (click)="sidebar.toggle()" class="item" i18n>
        <i class="home icon"></i>
        About
      </a>
      <a *ngIf="auth.getCurrentUserId()" [routerLink]="['/help']" routerLinkActive="active" (click)="sidebar.toggle()" class="ui item" i18n>
        <i class="help icon"></i>
        Help
      </a>
      <a *ngIf="auth.getCurrentUserId()" [routerLink]="['/dashboard']" routerLinkActive="active" (click)="sidebar.toggle()" class="ui item" i18n>
        <i class="user icon"></i>
        Dashboard <br>
        <small>{{person?.name}}</small>
      </a>
      <a *ngIf="auth.getCurrentUserId()" (click)="logout()" routerLinkActive="active" (click)="sidebar.toggle()" class="ui item" i18n>
        <i class="sign out icon"></i>
        Sign out
      </a>
      <a *ngIf="!auth.getCurrentUserId()" [routerLink]="['/sign-in']" routerLinkActive="active" (click)="sidebar.toggle()" class="ui item" i18n>
        <i class="sign in icon"></i>
        Sign in
      </a>
  </sui-sidebar>

  <sui-sidebar-sibling [isDimmedWhenVisible]="true">

    <router-outlet name="header"></router-outlet>

    <div *ngIf="router.url === '/home'" routerLinkActive="active" class="ui temp text menu" i18n>
      <a class="item" (click)="sidebar.open()"><i class="big bordered inverted content icon"></i></a>
    </div>

    <div *ngIf="router.url !='/home'" id="app-nav" class="ui fluid container">
      <div class="ui inverted basic segment">
        <div class="ui inverted secondary pointing menu">
          <a class="mobile only fitted item" (click)="sidebar.open()">
            <i class="big content icon"></i>
          </a>
          <div [routerLink]="['/home']" *ngIf="router.url !='/home'" class="site-title header item">
            {{title}}
          </div>
          <a [routerLink]="['/articles']" routerLinkActive="active" class="mobile hidden item" i18n="Articles|Main type of the app">
            Articles
          </a>
          <a [routerLink]="['/bibliography']" routerLinkActive="active" class="mobile hidden item" i18n>
            Bibliography
          </a>
          <a *ngIf="config.works" [routerLink]="['/works']" routerLinkActive="active" class="mobile hidden item" i18n="Link to works">
            Works
          </a>
          <a [routerLink]="['/subjects']" routerLinkActive="active" class="mobile hidden item">
            Subjects
          </a>
          <div class="right menu">
          <a [routerLink]="['/about']" routerLinkActive="active" class="mobile hidden item" i18n>
            About
          </a>
          <a *ngIf="!auth.getCurrentUserId()" [routerLink]="['/sign-in']" routerLinkActive="active" class="ui item" i18n>
            Sign in
          </a>
          <div *ngIf="auth.getCurrentUserId()" class="ui right dropdown fitted item" suiDropdown>
            <i class="large user icon"></i>
            <div class="mobile hidden text">{{person?.name}}</div>
              <div class="menu" suiDropdownMenu>
                <a *ngIf="auth.getCurrentUserId()" [routerLink]="['/dashboard']" routerLinkActive="active" class="ui item" i18n>
                  <i class="user icon"></i>
                  Dashboard
                </a>
                <a *ngIf="auth.getCurrentUserId()" [routerLink]="['/help']" routerLinkActive="active" class="ui item" i18n>
                  <i class="help circle outline icon"></i>
                  Help
                </a>
                <a *ngIf="auth.getCurrentUserId()" (click)="logout()" routerLinkActive="active" class="ui item" i18n>
                  <i class="sign out icon"></i>
                  Sign out
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>

    <router-outlet name="footer"></router-outlet>

  </sui-sidebar-sibling>
</sui-sidebar-container>
