.logo {
  width: 25px;
  margin: 0 0 0.4rem 1rem !important;
  padding: 0 !important;
}

.site-title {
  font-size: 1.2rem;
}

.fitted {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.temp.text.menu {
  position: fixed !important;
  top: -10px !important;
  left: 10px !important;
}

/* Mobile */

@media only screen and (max-width: 767px) {
  .ui.fluid.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}


/* Tablet / iPad Portrait */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .site-title {
    padding-bottom: 10px !important;
  }
  .ui.fluid.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}


/* Computer / Desktop / iPad Landscape */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .site-title {
    padding-bottom: 10px !important;
  }
}


/* Large Monitor */

@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .site-title {
    padding-bottom: 10px !important;
  }
}


/* Widescreen Monitor */

@media only screen and (min-width: 1920px) {
  .site-title {
    padding-bottom: 10px !important;
  }
}
