<div class="ui footer basic segment fluid container">
  <div class="ui stackable divided equal height stackable grid container">
    <div class="six wide column">
      <h4 class="ui header">About {{title}}</h4>
      <div class="ui link list">
        <a [routerLink]="['/about']" routerLinkActive="active" class="item">About</a>
        <a href="https://uustatus.no/nb/erklaringer/publisert/b6916493-996a-4218-9402-ce56cd21906a" target="_blank" rel="noreferrer" class="item">Accessibility statement</a>
        <!--<a [routerLink]="['/about']" fragment="contact" class="item">Contact</a>
          <a [routerLink]="['/about']" fragment="license" class="item">License</a>-->
          <div class="item">
            <div class="disabled">Partners</div>
            <div class="ui bulleted list">
              <a href="http://www.uib.no/en/griegresearch" class="item">Centre for Grieg Research</a>
              <a href="http://www.uib.no/en/ub" class="item">Universitetsbibliotek i Bergen</a>
              <a href="http://bergenbibliotek.no/" class="item">Bergen Offentlige Bibliotek</a>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="four wide column">
      <h4 class="ui header">Services</h4>
      <div class="ui link list">
        <a href="#" class="disabled item">API</a>
        <a href="http://ariel.uib.no/editor" class="disabled item">Grieg works at MerMEId <i class="fa fa-lock"></i></a>
        <a href="https://www.zotero.org/groups/grieg_research_guide/items/" class="item">Bibliography <img class="ui mini image" style="margin-top:4px;" src="assets/zotero_logo-sm.png"></a>
      </div>
    </div>-->
    <div class="six wide column">
      <h4 class="ui header">{{title}}</h4>
      <p>Grieg Research Guide is designed to give scholars, musicians, students, and the general public easy access to updated ressources about Edvard Grieg, his music, life, and environment.</p>
      <p><a href="mailto:incoming+ubbdev/grg-api+1K9GkYq2RE51GHfg7Wkb@gitlab.com">Errors? Send us a heads up!</a></p>
    </div>
  </div>
</div>
