<div class="ui container">
  <h1 class="ui center aligned header">Articles</h1>

  <div class="ui equal width stackable grid">
    <div class="column">
        <p>Find updated articles on various topics, presenting the outcomes from most recent research projects on Grieg. It includes reports, shorter essays, overview articles, critical commentaries to Grieg editions etc. The texts are collected under several main categories in ‘Subjects’ with added relations to specific entries in work catalogue and bibliography.</p>
    </div>
  </div>

  <div class="ui menu">
    <div class="borderless item">
      <strong>{{ articleSource.total$ | async }}</strong>&nbsp; <span>articles</span>
    </div>
    <div class="ui category search right item">
      <div class="ui transparent icon input" (submit)="search(term.value)">
        <input #term (keyup)="articleSource.search(term.value)" [value]="articleSource.terms" class="form-control" placeholder="Search" autofocus>
        <i type="submit" class="search icon"></i>
      </div>
    </div>
  </div>

  <div class="ui two cards" >
    <div class="card" *ngFor="let article of articleSource.items$ | async" [routerLink]="['/articles', article.id]">
      <div class="content">
        <app-display-article [article]="article"></app-display-article>
      </div>
    </div>
  </div>
  <app-full-width-paginator [source]="articleSource"></app-full-width-paginator>
</div>
