<div class="ui container">
  <div class="ui equal width stackable padded grid" *ngIf="article">
    <div id="content-sidebar" class="five wide column mobile hidden">
      <div class="ui items">
        <div class="item">
          <div class="content">
            <div class="small header">References</div>
            <div class="ui relaxed list">
              <div class="item" *ngFor="let reference of article.references">
                <app-display-compact-reference [reference]="reference"></app-display-compact-reference>
              </div>
            </div>
          </div>
        </div>

        <div class="item" *ngIf="article.relatedWorks && article.relatedWorks.length > 0">
          <div class="content">
            <div class="small header">Resources</div>
            <div class="ui list" >
              <div class="item" *ngFor="let work of article.relatedWorks">
                <i class="music icon"></i>
                <div class="content"><a [routerLink]="['/works/', work.id]">{{work.label}}</a></div>
              </div>
            </div>
          </div>
        </div>

        <div class="item" *ngIf="article.subjects && article.subjects.length > 0">
          <div class="content">
            <div class="small header">Subjects</div>
            <div class="ui list">
              <div class="item" *ngFor="let subject of article.subjects">
                <i class="tag icon"></i>
                <div class="content"><a [routerLink]="['/subjects/', subject.id]">{{getSubject(subject)}}</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ten wide ten wide large screen eleven wide widescreen column">
      <div class="ui warning message" *ngIf="article.status === 'draft'">
        <i class="icon warning"></i>
        This is a draft, only visible to editors and the article's listed contributors
      </div>
      <div class="ui info message" *ngIf="article.status === 'public-draft'">
        This is a public draft
      </div>

      <h1 class="header">{{article?.title}}</h1>

      <div class="ui huge horizontal list mobile hidden">
        <div class="item" *ngFor="let contributor of article?.contributors;">
          <div class="content">
            {{contributor.name}}
          </div>
        </div>
      </div>

      <div class="ui large list mobile only">
        <div class="item" *ngFor="let contributor of article?.contributors;">
          <div class="content">
            {{contributor.name}}
          </div>
        </div>
      </div>

      <div class="ui small secondary segment mobile only">
        <div class="ui secondary header">About</div>
        <div class="ui list">
          <div class="item" *ngFor="let reference of article.references">
            <i class="icon book"></i>
            <div class="content">
              <a target="blank" href="{{reference.link}}">{{reference.title}}</a>
            </div>
          </div>
        </div>
        <div class="ui list" >
          <div class="item" *ngFor="let work of article.relatedWorks">
            <i class="music icon"></i>
            <div class="content"><a [routerLink]="['/works/', work.id]">{{work.label}}</a></div>
          </div>
        </div>
        <div class="ui horizontal list" >
          <div class="item" *ngFor="let subject of article.subjects">
            <i class="tag icon"></i>
            <div class="content"><a [routerLink]="['/subjects/', subject.id]">{{getSubject(subject)}}</a></div>
          </div>
        </div>
      </div>

      <!-- Pipe for Markdown maa endres til noe annet -->
      <div [innerHTML]="article?.body|MarkdownToHtml"></div>

      <div class="ui divider"></div>
      <div class="ui relaxed horizontal list">
        <div class="item" *ngIf="article.publicationDate">
          <div class="description">
            Published {{article.publicationDate | date: 'yyyy-MM-dd'}}
          </div>
        </div>
        <div class="item">
          <div class="description">
            Last updated {{article.lastUpdated | date: 'yyyy-MM-dd'}}
          </div>
        </div>
      </div>
      <div *ngIf="canEdit">
        <button class="ui button" [routerLink]="['/articles/', article.id, 'edit']">Edit</button>
      </div>


      <div class="ui divider" *ngIf="publicCommentInterface.canAddComment() || (article.publicComments && article.publicComments.length > 0)"></div>
      <h3 class="header" *ngIf="(article.publicComments && article.publicComments.length > 0)">Comments</h3>
      <app-article-comment [maxDepth]="1" [commentInterface]="publicCommentInterface"></app-article-comment>

      <div class="ui secondary segment" *ngIf="editorialCommentInterface.canViewComments() | async">
        <h3 class="header">Editorial comments</h3>
        <app-article-comment [maxDepth]="1" [commentInterface]="editorialCommentInterface"></app-article-comment>
      </div>
    </div>
  </div>
  <app-error-component *ngIf="error" [title]="error.statusCode" [description]="error.message"></app-error-component>
</div>
