<h3 class="ui header">Sync with external data</h3>
<div class="ui segments">
  <div class="ui segment">
    <div class="ui header">Bibliography</div>
    <div class="content" *ngIf="!bibSyncStatus.active">
      <button (click)="syncBibliography()" class="pointer ui primary button" >
        <i class="icon exchange"></i> Sync
      </button>
      <span *ngIf="bibSyncStatus.lastUpdated">Last updated {{bibSyncStatus.lastUpdated | date: 'yyyy-MM-dd'}}</span>
      <span *ngIf="!bibSyncStatus.lastUpdated">Never synced</span>
    </div>
    <sui-progress class="indicating" *ngIf="bibSyncStatus.active" [value]="bibSyncStatus.progress" [maximum]="bibSyncStatus.total">
      Synchronization in progress
    </sui-progress>
  </div>
  <div class="ui segment">
    <div class="ui header">Works</div>
    <button (click)="syncWorks()" class="pointer ui primary button">
      <i class="icon exchange"></i> Sync
    </button>
  </div>
  <div class="ui segment">
    <div class="ui header">Search index</div>
    <button (click)="reindex()" class="pointer ui primary button">
      <i class="icon exchange"></i> Reindex
    </button>
  </div>
</div>
