<div class="reference">
  <strong>{{reference.creators | zoteroCreatorFullNames }}.</strong>
  {{formatDate(reference.date)}}.
  <a href="{{reference.link}}" target="blank">{{reference.title}}</a>.
  <span *ngIf="reference.series || reference.publicationTitle" [innerHTML]="formatSerialPublication(reference)"></span>
  <ng-container *ngIf="reference.publisher">
    {{reference.publisher}}<span *ngIf="reference.publisher && reference.place">, {{reference.place}}</span>.
  </ng-container>
</div>
