<div class="ui container">
  <h1 class="header">Dashboard
    <div class="ui label">
      <i class="blue user icon"></i>
      Signed in as {{person.name}}
      <div class="detail" *ngIf="person.roles && person.roles.length">[{{person.roles}}]</div>
    </div>
  </h1>

  <div class="ui secondary pointing menu">
    <a [routerLink]="['/dashboard/activity']" routerLinkActive="active" class="item">
      Activity
    </a>
    <a [routerLink]="['/dashboard/users']" *ngIf="isEditor" routerLinkActive="active" class="item">
      Users
    </a>
    <a [routerLink]="['/dashboard/administration']" *ngIf="isAdmin" routerLinkActive="active" class="item">
      Administration
    </a>
  </div>

  <router-outlet></router-outlet>
</div>
