<div class="ui container">
  <h1 class="ui center aligned header">Bibliography</h1>

  <div class="ui equal width stackable grid">
    <div class="column">
      <p>The Grieg bibliography draws on the ‘Werkverzeichnis’ published 2006 by Peters Verlag as part of the Grieg ‘Gesamtausgabe’. The bibliography will be continuosly updated by references to new Grieg literature indexed in RILM. In addition, the bibliography includes references to material from local collections, newspaper archives, providing full-text-access to unpublished documents and publications out of print. The bibliography will be assessed continuosly by an editorial team affiliated with the Grieg Research Center.</p>
    </div>
  </div>

  <ng-template #referenceCollection let-collections>
    <div class="ui selection list" *ngIf="collections && collections.length > 0">
      <!-- Try showing collection if it has count or children, then we don't have to accumulate counts for parents -->
      <ng-container *ngFor="let collection of collections">
        <div class="item" *ngIf="collectionCount(collection) | async as count"
          [ngClass]="{'active': referenceSource.collectionIsSelected(collection.key)}">
        <i class="folder icon"
          [ngClass]="{'open': referenceSource.collectionIsSelected(collection.key)}"
          (click)="referenceSource.toggleCollection(collection.key)"></i>
          <div class="content">
            <a (click)="referenceSource.toggleCollection(collection.key)">{{collection.name}}</a>
            <span class="count">
              ({{count}})
            </span>
            <ng-container *ngTemplateOutlet="referenceCollection; context {$implicit: collection.children}"></ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>

  <div class="ui top attached menu">
    <div class="mobile only item">
      <i class="icon folder" (click)="sidebar.toggle()"></i>
    </div>
    <div class="borderless item">
      <strong>{{ referenceSource.total$ | async }}</strong>&nbsp; <span>references match your search</span>
    </div>
    <div class="ui category search right item">
      <div class="ui transparent icon input" (submit)="referenceSource.search(term.value)">
        <input #term (keyup)="referenceSource.search(term.value)" placeholder="Search" autofocus>
        <i type="submit" class="search icon"></i>
      </div>
      <!--<a href="https://www.zotero.org/groups/{{groupid}}/{{groupname}}/items"><i class="search icon"></i> Search the bibliography in Zotero</a>-->
    </div>
  </div>

  <app-full-width-paginator [source]="referenceSource" [extraClass]="'borderless attached'"></app-full-width-paginator>

  <sui-sidebar-container class="ui attached basic segment">
    <sui-sidebar class="vertical" #sidebar>
      <div class="ui segment">
        <div class="ui header">Collections</div>
        <ng-container *ngTemplateOutlet="referenceCollection; context {$implicit: referenceCollections}"></ng-container>
      </div>
    </sui-sidebar>

    <sui-sidebar-sibling [isDimmedWhenVisible]="true">
      <div class="ui equal width divided padded grid">
        <div class="mobile hidden five wide column">
          <div class="ui basic segment">
            <div class="ui header">Collections</div>
            <ng-container *ngTemplateOutlet="referenceCollection; context {$implicit: referenceCollections}"></ng-container>
          </div>
        </div>

        <div class="column" *ngIf="referenceSource.waiting | async">
          loading ...
        </div>

        <div class="column" *ngIf="!(referenceSource.waiting | async)">
          <div class="ui list" *ngFor="let reference of (referenceSource.items$ | async)">
            <div class="item">
              <app-reference-container [reference]="reference"></app-reference-container>
            </div>
          </div>
        </div>
      </div>
    </sui-sidebar-sibling>
  </sui-sidebar-container>

  <app-full-width-paginator [source]="referenceSource" [extraClass]="'borderless attached'"></app-full-width-paginator>
</div>

