div.input { margin-right: 1rem; }

.zotero-info img {
  height: 12px;
  margin-top: -4px;
  margin-left: 10px;
}

.extra { margin-bottom: 10px; }

.secondary.menu {
  border-bottom: none !important;
  margin-bottom: 2em !important;
}

.secondary.segment .tiny.header {
  font-weight: normal;
}

.secondary.segment div.header {
  margin-top: 0.5rem;
}

.content .label {
  float: right;
}

span.count { padding-left: 0.5rem; }
