<div class="ui segment" [ngClass]="{'top attached green': isMentioned}">
  <app-display-reference *ngIf="showReference" [reference]="reference"></app-display-reference>
  <ng-container *ngIf="!showReference">
    <ng-container *ngFor="let article of reference.articles">
      <app-display-article [articleId]="article.id"></app-display-article>
    </ng-container>
  </ng-container>
</div>
<div *ngIf="isMentioned" class="ui bottom attached tabular menu">
  <a class="item" (click)="showReference = true" [ngClass]="{active: showReference}">Reference</a>
  <a class="item" (click)="showReference = false" [ngClass]="{active: !showReference}">Articles mentioning reference</a>
</div>
