.fluid.container {
  margin: 0 !important;
}

.grid {
  margin: 0 !important;
}

.box {
  padding-top: 0;
  padding-bottom: 3rem;
  color: white;
}

.box .row {
  padding: 0;
}

.box span {
  background-color: #222;
  padding: 1rem;
  margin-top: 12rem;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bolder;
}

.box .column {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 0;
}

.box .column.assessments { background-color: #ddd; background-image: url('../../assets/3469857605_f934d55897_o.jpg');}
.box .column.bibliography { background-color: #ccc; background-image: url('../../assets/bulletin-of-bibliography.jpg');}
.box .column.works { background-color: #bbb; background-image: url('../../assets/grg-works.png');}
.box .column.subjects { background-color: #999; background-image: url('../../assets/stor_18960324_oesterrike_wien.jpg');}

/* Mobile */

@media only screen and (max-width: 767px) {
  .box span {
    margin-top: 8rem;
  }
}


/* Tablet / iPad Portrait */

@media only screen and (min-width: 768px) and (max-width: 991px) {

}


/* Computer / Desktop / iPad Landscape */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

}


/* Large Monitor */

@media only screen and (min-width: 1200px) and (max-width: 1919px) {

}


/* Widescreen Monitor */

@media only screen and (min-width: 1920px) {

}
