<div class="ui fluid container">
  <div class="ui box grid">

      <div [routerLink]="['/articles']" routerLinkActive="active" class="assessments pointer sixteen wide mobile eight wide tablet four wide computer column">
        <span>Articles</span>
      </div>

      <div [routerLink]="['/bibliography']" routerLinkActive="active" class="bibliography pointer sixteen wide mobile eight wide tablet four wide computer column">
        <span>Bibliography</span>
      </div>

      <div [routerLink]="['/works']" routerLinkActive="active" class="works pointer sixteen wide mobile eight wide tablet four wide computer column">
        <span>Works</span>
      </div>

      <div [routerLink]="['/subjects']" routerLinkActive="active" class="subjects pointer sixteen wide mobile eight wide tablet four wide computer column">
        <span>Subjects</span>
      </div>

  </div>
</div>

<div class="ui text container">
  <h1 class="header">Edvard Grieg</h1>
  
  <p>Grieg Research Guide is designed to give scholars, musicians, students, and the general public easy access to updated ressources about Edvard Grieg, his music, life, and environment.</p>
  <p>It consists of two main parts:</p>
  <ul>
      <li>the Grieg Bibliography provides an updated and comprehensive overview of international scholarly literature on Grieg and his music</li>
      <li>the Grieg Catalogue displays the complete critical edition of Grieg’s works.</li>
  </ul>

  <p>The aim is to facilitate comprehensive searches into both genesis and the reception of Griegs music, and to make it easy to combine work-related data with topical inquiries in Grieg’s life and cultural environment.</p>
  <p>Grieg Research Guide gives access to continuosly updated records of new publications about Grieg, as well as the catalogue will be updated and revised in accordance with the latest knowledge about Grieg’s works, their edition, and performance history. All new records and revisions included in the Grieg Research Guide are being assessed continuosly by an editorial team, organized by the Grieg Research Centre at University of Bergen.</p>
  <p>Grieg Research Guide is based on the prize-winning Grieg catalogue and bibliography, edited by Øyvind Norheim and published in 2007 by Peters Verlag.</p>
  <p>Grieg Research Guide is a collaboration project between Grieg Research Centre, Bergen University Library, and Bergen Public Library, with support from the Norwegian National Library.</p>

</div>
