<ng-template #recursiveCommentList let-comments let-depth="depth">
  <div class="ui comments" *ngIf="comments && comments.length">
    <div class="comment" *ngFor="let comment of comments">
      <div class="content">
        <a class="author" *ngIf="comment.author">{{comment.author.name}}</a>
        <span class="author" *ngIf="!comment.author">[author hidden]</span>
        <div class="metadata">{{comment.created | date:'yyyy-MM-dd HH:mm'}}</div>
        <div class="text">{{comment.body}}</div>
        <div class="actions" *ngIf="(commentInterface.canAddComment() | async) && !isReplyOpen(comment)">
          <a class="edit"
            *ngIf="!comment.deleted && (commentInterface.canEditComment(comment) | async)"
            (click)="openEdit(comment)">
            Edit
          </a>
          <a class="reply"
            *ngIf="depth < maxDepth && !comment.deleted"
            (click)="openReply(comment)">
            Reply
          </a>
          <a class="delete"
            *ngIf="!comment.deleted && (commentInterface.canDeleteComment(comment) | async)"
            (click)="deleteComment(comment)" >
            Delete
          </a>
          <a class="undelete"
            *ngIf="comment.deleted && (commentInterface.canUndeleteComment(comment) | async)"
            (click)="undeleteComment(comment)">
            Undelete
          </a>
        </div>
      </div>
      <ng-container *ngTemplateOutlet="recursiveCommentList; context {$implicit: comment.children, depth: depth+1}"></ng-container>
      <div class="ui basic segment" *ngIf="isReplyOpen(comment) || isEditOpen(comment)">
      <form class="ui reply form" *ngIf="isReplyOpen(comment)">
        <div class="field" [ngClass]="{error: replyError}">
          <label>Reply to {{comment.author.name}}</label>
          <blockquote>{{comment.body | words : 20 : " ..."}} <div class="ui metadata">{{comment.created | date:'yyyy-MM-dd HH:mm'}}</div></blockquote>
          <textarea rows="3" [(ngModel)]="reply.body" name="reply" (click)="replyError = false"></textarea>
        </div>
        <div class="ui primary submit button" (click)="submitReply(comment)">
          Submit
        </div>
        <div class="ui button" (click)="discardReply()">
          Discard
        </div>
      </form>
      <form class="ui reply form" *ngIf="isEditOpen(comment)">
        <div class="field" [ngClass]="{error: editError}">
          <textarea rows="3" [(ngModel)]="edit.body" name="edit" (click)="editError = false"></textarea>
        </div>
        <div class="ui primary submit button" (click)="submitEdit(comment)">
          Save
        </div>
        <div class="ui button" (click)="discardEdit()">
          Discard
        </div>
      </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-container *ngTemplateOutlet="recursiveCommentList; context {$implicit: commentInterface.comments, depth: 0}"></ng-container>

<form class="ui reply form" *ngIf="!reply && !edit && (commentInterface.canAddComment() | async)">
  <div class="field">
    <label>Add comment</label>
    <textarea [(ngModel)]="newComment.body" rows="3" name="newComment"></textarea>
  </div>
  <div class="ui primary submit button" (click)="submitComment()">
    Submit
  </div>
</form>
