<div class="ui basic segment" *ngIf="loading">
  <p></p>
  <div class="ui active inverted dimmer">
    <div class="ui text loader">Loading</div>
  </div>
</div>
<div class="ui basic segment container" *ngIf="error">
  <app-error-component [title]="error.statusCode" [description]="error.message"></app-error-component>
</div>
<div class="ui basic segment container" *ngIf="!error && !loading">
  <span class="mini-header" *ngIf="!isEdit">New article</span>
  <span class="mini-header" *ngIf="isEdit">Edit article</span>
  <form class="ui form" [formGroup]="editForm" novalidate>
    <div class="ui field">
      <textarea formControlName="title" style="width:100%; font-size:40px; border-radius: 0px; border: none; padding: 0 0 0.5rem 0; margin: 2rem 0 0 0; border-bottom: 1px solid #ddd;" name="title" placeholder="...title..." required [appAutofocus]="true" rows="1"></textarea>
    </div>
  </form>
  <div class="ui small header">
    <i class="user icon"></i>
    <div class="content">
      <span *ngFor="let person of contributorSelector.items; let i = index">
        {{person.name}}<span *ngIf="i + 1 < contributorSelector.items.length">, </span>
      </span>
    </div>
  </div>
  <div class="ui tiny header">
    <i class="privacy icon"></i>
    <div class="content">
      {{edit.status}}
    </div>
  </div>
  <sui-tabset>
    <div class="ui top attached tabular menu">
        <a class="item" suiTabHeader="1">Content</a>
        <a class="item" suiTabHeader="2">References</a>
        <a class="item" suiTabHeader="3">Contributors</a>
        <a class="item" suiTabHeader="4">Metadata</a>
        <a class="item" suiTabHeader="5">Publish</a>
    </div>
    <div class="ui bottom attached basic segment" suiTabContent="1">

      <p *ngIf="subjectSelector.items.length > 0">
        <i class="tag icon"></i>
        <span *ngFor="let subject of subjectSelector.items; let i = index">
          {{subjectLabel(subject)}}<span *ngIf="i + 1 < subjectSelector.items.length">, </span>
        </span>
      </p>
      <p *ngIf="workSelector.items.length > 0">
        <i class="music icon"></i>
        <span *ngFor="let work of workSelector.items; let i = index">
          <a href="{{work.uri}}">{{work.label}}</a><span *ngIf="i + 1 < workSelector.items.length">, </span>
        </span>
      </p>
      <div *ngFor="let reference of referenceSelector.items" class="ui blue segment">
        <app-display-compact-reference [reference]="reference"></app-display-compact-reference>
      </div>
      <div *ngIf="referenceSelector.items.length < 1" class="ui red segment">
        <div class="ui negative header">No reference</div>
      </div>

      <form class="ui form" [formGroup]="editForm" novalidate>
        <div style="z-index: 12;" class="field">
          <app-mdeditor formControlName="body"></app-mdeditor>
        </div>
      </form>

    </div>
    <div class="ui bottom attached segment" suiTabContent="2">
      <div *ngFor="let reference of referenceSelector.items" class="ui item blue segment">
        <div class="ui grid">
          <div class="fourteen wide column">
            <app-display-compact-reference [reference]="reference"></app-display-compact-reference>
          </div>
          <div class="ui right floated two wide column">
            <div class="ui right floated negative icon button" (click)="referenceSelector.deselect(reference)"><i class="delete icon"></i></div>
          </div>
        </div>
      </div>

      <div class="ui header">Search</div>

      <div class="ui menu">
        <div class="borderless item">
          <strong>{{ referenceSource.total$ | async }}</strong>&nbsp; <span>references</span>
        </div>
        <div class="ui category search right item">
        <div class="ui transparent icon input" (submit)="referenceSource.search(referenceTerm.value)">
            <input #referenceTerm (keyup)="referenceSource.search(referenceTerm.value)" [value]="referenceSource.terms" placeholder="Search" autofocus>
            <i type="submit" class="search icon"></i>
          </div>
        </div>
      </div>

      <ng-template ngFor let-reference [ngForOf]="referenceSource.items$ | async">
        <div *ngIf="!referenceSelector.isSelected(reference)" class="ui segments">
          <div class="ui item segment">
            <div class="ui grid">
              <div class="fourteen wide column">
                <app-display-compact-reference [reference]="reference"></app-display-compact-reference>
              </div>
              <div class="ui right floated two wide column">
                <div class="ui right floated positive icon button" (click)="referenceSelector.select(reference)"><i class="plus icon"></i></div>
              </div>
            </div>
          </div>

          <div class="ui secondary segment" *ngIf="reference.articles && reference.articles.length > 0">
            <span class="ui tiny header">Read article</span>
            <div class="ui green small header">

              <div class="content">
                <div class="ui list">
                  <a class="ui item" *ngFor="let article of reference.articles"[routerLink]="['/articles', article.id]">
                    <i class="eye icon"></i>
                    {{article.title}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <app-full-width-paginator [source]="referenceSource"></app-full-width-paginator>
    </div>

    <div class="ui bottom attached segment" suiTabContent="3">
      <div *ngFor="let person of contributorSelector.items"
        class="ui basic right labeled icon primary button"
          (click)="contributorSelector.deselect(person)"
          [class.disabled]="contributorSelector.items.length < 2">
          {{person.name}}
        <i class="ui icon delete"></i>
      </div>

      <div class="ui hidden divider"></div>

      <form class="ui form" (submit)="personSource.search(contributorTerm.value)">
        <div class="field">
          <div class="ui action input">
            <input #contributorTerm (keyup)="personSource.search(contributorTerm.value)" [value]="personSource.terms" placeholder="Search" autofocus>
            <button type="submit" class="ui button"><i class="search icon"></i> Search</button>
          </div>
        </div>
      </form>

      <div class="ui hidden divider"></div>

      <ng-template ngFor let-person [ngForOf]="personSource.items$ | async">
        <div *ngIf="!contributorSelector.isSelected(person)" class="ui basic right labeled icon positive button" (click)="contributorSelector.select(person)">
          {{person.name}}
          <i class="ui icon add"></i>
        </div>
      </ng-template>
    </div>

    <div class="ui bottom attached segment" suiTabContent="4">
      <div class="ui header">
        Related works
      </div>
      <p *ngIf="workSelector.items.length === 0">None selected</p>
      <div class="ui list">
        <div class="item" *ngFor="let work of workSelector.items">
          <div class="ui basic large primary label">{{work.label}}</div>
          <div class="ui negative basic icon button" (click)="workSelector.deselect(work)">
            Deselect
            <i class="ui icon remove"></i>
          </div>
        </div>
      </div>

      <form class="ui form">
        <div class="field">
          <label>Add work</label>
          <div class="ui action input" (submit)="workSource.search(workTerm.value)">
            <input #workTerm (keyup)="workSource.search(workTerm.value)" [value]="workSource.terms" placeholder="Search" autofocus>
            <button type="submit" class="ui button"><i class="search icon"></i> Search</button>
          </div>
        </div>
      </form>

      <div class="ui list">
        <ng-template ngFor let-work [ngForOf]="workSource.items$ | async">
          <div class="item" *ngIf="!workSelector.isSelected(work)">
            <div class="ui basic large label">{{work.label}}</div>
            <div class="ui positive basic icon button" (click)="workSelector.select(work)">
              Select
              <i class="ui icon add"></i>
            </div>
            <div class="ui primary basic icon button">
              <a href="{{work.uri}}">
                View
                <i class="ui icon search"></i>
              </a>
            </div>
          </div>
        </ng-template>
      </div>

      <div class="ui header">
        Subjects
      </div>
      <p *ngIf="subjectSelector.items.length === 0">None selected</p>
      <div class="ui list">
        <div class="item" *ngFor="let subject of subjectSelector.items">
          <div class="ui basic large primary label">{{subjectLabel(subject)}}</div>
          <div class="ui negative basic icon button" (click)="subjectSelector.deselect(subject)">
            Deselect
            <i class="ui icon remove"></i>
          </div>
        </div>
      </div>

      <form class="ui form">
        <div class="field" (submit)="subjectSource.search(subjectTerm.value)">
          <label>Add subject</label>
          <div class="ui action input">
            <input #subjectTerm (keyup)="subjectSource.search(subjectTerm.value)" [value]="subjectSource.terms" placeholder="Search" autofocus>
            <button type="submit" class="ui button"><i class="search icon"></i> Search</button>
          </div>
        </div>
      </form>

      <div class="ui list">
        <ng-template ngFor let-subject [ngForOf]="subjectSource.items$ | async">
          <div class="item" *ngIf="!subjectSelector.isSelected(subject)">
            <div class="ui basic large label">{{subjectLabel(subject)}}</div>
            <div class="ui positive basic icon button" (click)="subjectSelector.select(subject)">
              Select
              <i class="ui icon add"></i>
            </div>
            <div class="ui primary basic icon button">
              <a [routerLink]="['/subjects', subject.id]">
                View
                <i class="ui icon search"></i>
              </a>
            </div>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="ui bottom attached segment" suiTabContent="5">
      <p *ngIf="!personCanPublish() | async">This option is only open to editors</p>
      <div class="ui form" *ngIf="personCanPublish() | async">
        <div class="ui grouped fields">
          <label>Select publication status</label>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" value="draft" name="status" [(ngModel)]="edit.status">
              <label>Draft (will only be visible to article contributors and editors)</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" value="public-draft" name="status" [(ngModel)]="edit.status">
              <label>Public draft (will be publicly visible, but with draft label)</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" value="published" name="status" [(ngModel)]="edit.status">
              <label>Published</label>
            </div>
          </div>
        </div>
      </div>
    </div>

  </sui-tabset>

  <div class="ui basic segment">
    <button class="ui right labeled icon negative compact button" (click)="discard()">
      Back <i class="ui icon trash"></i>
    </button>
    <button class="ui right labeled icon positive compact button" [disabled]="editForm.invalid" (click)="save()">
      Save
       <i class="ui icon save"></i>
    </button>
    <span *ngIf="isAutoSaving">Autosaving ...</span>
  </div>
</div>
