<h2 class="header">Users</h2>
<table class="ui celled compact unstackable table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Assessments</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons">
      <td>{{person.name}}</td>
      <td>{{person.assessmentCount}}</td>
      <td>
        <span *ngFor="let role of person.roles">
          <div class="ui basic right labeled icon primary compact button"
            (click)="deleteRole(person.id, role)"
            [class.disabled]="!(personCanDeleteRole(person.id, role) | async)">
            {{role}}
            <i class="ui icon delete"></i>
          </div>
        </span>
        <span *ngFor="let role of allRoles">
          <div class="ui basic right labeled icon positive compact button"
            *ngIf="person.roles.indexOf(role) === -1 && (personCanAddRole(role) | async)"
            (click)="addRole(person.id, role)">
            {{role}}
            <i class="ui icon add"></i>
          </div>
        </span>
      </td>
    </tr>
  </tbody>
</table>
