<a class="ui header" target="blank" href="{{reference.link}}">{{reference.title || "No title"}} <span *ngIf="reference.edition">(edition {{reference.edition}})</span></a>
<div class="meta">
  {{reference.creators | zoteroCreatorFullNames }}
</div>
<p>
  <em>
    {{reference.itemType}}
  </em>
  <span *ngIf="reference.date">published {{reference.date}}</span>
</p>
<p *ngIf="reference.abstract && options.showAbstract">{{reference.abstract | words : 50 : " ..." }}</p>

<div *ngIf="reference.publicationTitle || reference.series" class="ui divider"></div>
<div *ngIf="reference.publicationTitle || reference.series">
  <span *ngIf="reference.publicationTitle">{{reference.publicationTitle}}</span>
  <span *ngIf="reference.series">In series: {{reference.series}}</span>
  <span *ngIf="(reference.publicationTitle || reference.series) && reference.volume">, </span>
  <span *ngIf="reference.volume">vol. {{reference.volume}}</span>
  <span *ngIf="reference.volume && reference.issue"> </span>
  <span *ngIf="reference.issue">{{reference.issue}} </span>
  <span *ngIf="reference.pages">p. {{reference.pages}}</span>
</div>
<div *ngIf="reference.publisher">
  <span *ngIf="reference.publisher">{{reference.publisher}}</span>
  <span *ngIf="reference.publisher && reference.place">, </span>
  <span *ngIf="reference.place">{{reference.place}}</span>
</div>
<div *ngIf="reference.doi"><a href="http://dx.doi.org/{{reference.doi}}">DOI</a></div>
<div class="ui horizontal list" *ngIf="reference.subjects && reference.subjects.length > 0">
  <div class="item" *ngFor="let subject of reference.subjects" >
    <a class="ui label" [routerLink]="['/subjects', subject.id]">{{ getConceptLabel(subject) }}</a>
  </div>
</div>
